.answer-choices {
    width: 90%;
    gap: 1rem;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

    .answer-choices__choice {
        width: 100%;
        padding: 3rem 0;
    }

.create-game-page {
    max-width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.game {
    max-width: 600px;
    height: 100vh;
    background-color: white;
    text-align: center;
}

    .game__screen {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .game__waiting-room {
        width: 100%;
    }


.host-controls {
    margin: 1.5rem 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 4rem;
}

    .host-controls__prev-button {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .host-controls__next-button {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }
    
    .host-controls__reset-button {
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
    }

.landing-page {
    max-width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.number-form {
    display: flex;
}

    .number-form__selector {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .number-form__options {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

.operator-form {
    display: flex;
}

    .operator-form__selector {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .operator-form__options {
        align-self: center;
        flex: 1;
    }

.players {
    margin: 1.5rem 0;
}

    .players__header {
        margin-bottom: 0.5rem;
    }

    .players__username {
        margin-bottom: 0.25rem;
    }

    .question {
        font-weight: bold;
        margin: 2rem 0;
    }